/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@media (max-width: 500px) {
  ul {
    list-style: none;
  }
}
html,
body {
  height: 100%;
}
/****End reset ****/
/****Mixins****/
/****variables****/
.whole-container {
  max-width: 800px;
  border: 2px solid #144044;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .whole-container {
    max-width: 320px;
    border: none;
  }
}
#nav-div {
  padding: 2%;
  background-color: #435073;
  display: flex;
  justify-content: space-between;
}
#nav-div h1 {
  font-size: 2rem;
}
#nav-div a {
  color: #a897bf;
  margin-left: 20px;
  font-size: 1.5rem;
}
#main-content {
  display: flex;
}
@media (max-width: 500px) {
  #main-content {
    flex-direction: column;
  }
}
.left-section {
  padding-top: 3%;
  background-color: #a897bf;
  width: 30%;
}
@media (max-width: 500px) {
  .left-section {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .left-section {
    width: 100%;
  }
}
.left-section #myPicture {
  display: flex;
  justify-content: center;
}
.left-section #myPicture img {
  width: 90%;
}
@media (max-width: 500px) {
  .left-section #myPicture img {
    display: none;
  }
}
.left-section .languages {
  display: flex;
  width: 100%;
}
.left-section .languages div {
  width: 40%;
  margin-right: 5%;
}
.left-section ul {
  padding-left: 25px;
}
.left-section .connect {
  flex-direction: column;
}
.left-section .connect nav {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .left-section .connect {
    display: none;
  }
}
.right-section {
  margin: 4% 0 0 3%;
  width: 67%;
}
@media (max-width: 500px) {
  .right-section {
    width: 100%;
  }
}
