// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
/****End reset ****/
@main-color: #435073;
@secondary-color: #a897bf;
/****Mixins****/
.whole-container{
	max-width:800px;
	margin:0 auto;
}
#nav-div {
	padding:2%;
	background-color: @main-color;
	display: flex;
	justify-content: space-between;
	h1{
		font-size: 2rem;
	}
	a {
		margin-left:20px;
	  	font-size: 1.5rem;
  }
}
#main-content{
	display:flex;
}
.left-section{
	padding-top:3%;
	background-color:@secondary-color;
	width:30%;
	#myPicture{
		display:flex;
		justify-content:center;
		img{
			width:90%;
		}	
	}
	.languages{
		display:flex;
		width:100%;
		div{
			width:40%;
			margin-right:5%;
		}
	}
	ul{
		padding-left:25px;
	}
}
.right-section{
	margin:4% 0 0 3%;
	width:67%;
}
.connect{
	justify-content:center;
	ul{
		list-style:none;
	}
}